@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Basuru";
  src: url("/fonts/basuru.ttf") format("truetype");
}
.text-sin {
  font-family: "Basuru", sans-serif;
 
}