@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family:'4u-Ajantha';
    src: url('/src/assets/fonts/4u-Ajantha.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.sinhala-text{
    font-family: '4u-Ajantha',sans-serif;
}